{% extends 'base.html' %}

{% block 'conteudo' %}
<div class="body_licencaEspecifica">
    <div class="conteudolicencaEspecifica">
        <h4 for="">Licença do Surpad do {{licença.cliente}}</h4>

        {%if licença.licença and licença.licença != 'nan'  %}
        <h6>Licença: <strong>{{licença.licença}}</strong></h6>
        {%else%}
        <h6>Licença:  <strong>Não Informado</strong></h6>
        {%endif%}

        {%if licença.Transfer_ID and licença.Transfer_ID != 'nan'  %}
        <h6>Transfer ID: <strong>{{licença.Transfer_ID}}</strong></h6>
        {%else%}
        <h6>Transfer ID:  <strong>Não Informado</strong></h6>
        {%endif%}

        {%if licença.modelo and licença.modelo != 'nan'  %}
        <h6>Modelo: <strong>{{licença.modelo}}</strong></h6>
        {%else%}
        <h6>Modelo:  <strong>Não Informado</strong></h6>
        {%endif%}

        {%if licença.Serial_Number and licença.Serial_Number != 'nan'  %}
        <h6>Serial Number: <strong>{{licença.Serial_Number}}</strong></h6>
        {%else%}
        <h6>Serial Number:  <strong>Não Informado</strong></h6>
        {%endif%}
        
        {% if licença.Observaçoes %}
            <p>Observações: <strong>{{licença.Observaçoes}}</strong></p>
        {% endif %}
        <span class="span_Especifico"><a class="button_editar_especifico" href="{% url 'EditarLicencaSurpad' licença.id %}">Editar</a> <a class="button_deleta_especifico" href="{% url 'deletarLicencasurpad' licença.id %}">Deletar</a></span>
    </div>
</div>
{% endblock  %}